<ion-view view-title="TransTalk">
  <ion-content class="padding">
    <div class="connection-member-container">
      <div class="connection-member">
        <p style="width: 100%">Gilad Oved </p>
        <span class="pull-right connected">Connected</span>
      </div>

      <div class="connection-member">

      </div>
      <div class="connection-member">

      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="footer">
    <div class="talk-button">Talk</div>
  </ion-footer-bar>
</ion-view>
